*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
  scroll-behavior: smooth;
}
.parent{
    height: 630px;
    margin: 0 5%;
    border-radius: 5px;
    position: relative;
    display: flex;
    background-color: #0E0E0E;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.child-left{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.child-left h1, h2{
    margin-left: 30px;
    color: white;
}
.child-left h1{
    font-size: 50px;
    font-weight:bold;
}
.child-left h2{
    font-size: 30px;
    
}
.span-name{
    background: linear-gradient(90deg, cyan, rgb(248, 12, 51));
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  background-clip: text; 
  color: transparent;  
}
.buttons{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    align-items: center;
    margin-top: 30px;
}
.btn-contact{
    color: black;
    padding: 10px 15px;
    background: linear-gradient(135deg, rgb(255, 60, 0), rgb(247, 161, 3));
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-contact:hover {
    transform: translateY(-4px) scale(1.0);
    box-shadow: 0 6px 20px rgba(255, 140, 0, 0.6);
    background: linear-gradient(135deg,rgb(255, 217, 0), rgb(255, 60, 0));
    border: 1px solid white;
}
.btn-download{
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-download:hover{
    background: linear-gradient(135deg, rgb(255, 60, 0), rgb(247, 161, 3));
    color: #1d1c1c;
    box-shadow: 0 6px 20px rgba(255, 140, 0, 0.6);
    transform: translateY(-4px);
}
.child-right{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    background-color: #adadac;
    border-radius: 50%;
    border: 4px solid rgb(88, 88, 88);
    box-shadow: 0px 0px 10px #faf9f9;
}
.child-right pre{
    color: white;
    text-align: center; 
    font-size: 20px;
    margin-top: 20px;   
}

.scroll{
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 0;
    gap: 40px;
    align-items: center;
    justify-content: center; 
    background: linear-gradient(90deg, rgb(75, 74, 74), gold);

}
.scroll-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.main-about{
    display: flex;
    height: auto;
    position: relative;
    justify-content: center;
    margin: 0 5%;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #0E0E0E;
    padding: 2%;
}

.bio-head h1{
    color: #e9a046;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bio-head{
    width: 98%;
    text-align: center;
    color: white;
    font-weight: 600 ;
    font-size:50px;
}
.bio-main{
    display: flex;
}
.bio-head-main{
    color: #755737;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.bio-main{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
.bio-img{
    object-fit: cover;
    width: 300px;
    font-weight:100;
    font-family:sans-serif ;
    height:400px;
    box-shadow: 4px 4px 20px #020202;
    border-radius: 10px;
    background-color: black;
}
.bio-child{
    height: 550px;
    width: 900px;
    background-color: rgb(15, 15, 15);
    position: relative;
    border-radius: 10px;
    color: #020202;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bio-top {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;       
    gap: 50px;           
    align-items: center;
}
.bio-content{
    color:#e9a046 ;
    width: 500px;
    height: 300px;
}
.bio-content h2{
    font-weight:600;
}
.bio-content h1{
    font-weight:600;
    font-size: 30px;
}
.main-container{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.container{
    width: 250px;
    height: 80px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px solid  #3d3c3c ;
    background: linear-gradient(to right, #555454 0%, #e9a046 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.5s ease-in-out;
    
}
.container:hover {
    background-size: 100% 100%;
}
.container h1{
    font-size: 16px;
    margin-left: 10px;
    color: #f8f4f4;
}
span{
    color: #e9a046;
}
.btn{
    background-color: #020202;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.btn:hover {
  transform: scale(1.1);
  color: white;
}
.bio-summary{
    height: 120px;
    margin-left: 5px;
}
.bio-summary h1{
    font-size: 20px;
    font-weight: 500;
    color: #e9a046 ;
    margin-bottom: 2px;
}
pre {
  white-space: pre-wrap;   
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
}

.skills-main{
    display: flex;
    height: auto;
    position: relative;
    justify-content: center;
    margin: 0 5%;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:#0E0E0E;
}

.skills-main h1{
    color: #e9a046;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.grp-skill{
    display: flex;          /* children (skills) side by side */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;        /* responsive wrapping */
    gap: 20px;
    width: 100%;
}

.skill-parent{
    width: 90%;
    height: 70px;
    display: flex;
    border-radius: 10px;
    background-color: #1b1b1b;
    margin-bottom: 10px;
    margin-left: 25px;
    
}
.react{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.react h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}
.img-react{
    object-fit: cover;
    width: 50px;
    cursor: pointer;
}
.skill-bar{
    width: 50%;
    height: 70px;
    display: flex;          /* enables flexbox */
    align-items: center; 
    gap: 10px;
}
.skill-bar h1{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.react-percentage{
    width: 0;
    height: 30%;
    background: linear-gradient(90deg, #FFD700, #00ff15);
    transition: width 1s ease-in-out;
    border: 2px solid grey;
    border-radius: 10px;
}
.react:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.node{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.node h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}


.node:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.express{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.express h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}


.express:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.sql{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.sql h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}

.sql:hover + .skill-bar .react-percentage {
    width: var(--level);
}


.git{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.git h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}

.git:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.html{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.html h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}

.html:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.css{
    display: flex;
    width: 50%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.css h1 {
    margin: 0;
    color: white;
    cursor: pointer;
}

.css:hover + .skill-bar .react-percentage {
    width: var(--level);
}

.exp-main{
    display: flex;
    height: auto;
    margin: 0 5%;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: #0E0E0E;
}
.exp-main h1{
    color: #e9a046;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.eng{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: row;
    gap: 20px;
}
.eng-project1{
    background-color: #555454;
    width: 40%;
    height: 500px;
    border-radius: 15px;

}
.project-card {
  background-color: #3d3d3d;
  color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 4px 4px 10px rgba(139, 139, 139, 0.2);
  transition: 
    transform 0.3s ease,
    background-size 0.5s ease-in-out;
    background: linear-gradient(to top, rgb(21, 121, 7) 0%, #0f0f0f 100%);
  background-size: 100% 0%;     /* initially no gold */
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
}
.project-card:hover {
    transform: scale(1.05);        /* zoom a little */
    background-size: 100% 100%; 
}
.project-card h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #ffd700;
}
.project-card h3 {
  margin: 0 0 10px 0;
  font-size: 1rem;
  font-weight: normal;
  color: #cccccc;
}
.project-card p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.contact-main{
    display: flex;
    height: 550px;
    justify-content: center;
    margin: 0 5%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color:#0E0E0E;
}

.contact-main h1{
    color: #e9a046;
    font-size: 20px;
    font-weight: bold;
margin: 0;
}

.contact-main p{
    color: white;
}
.contact-child{
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.email-img{
    width: 30px;
    margin-top: 5px;
}

.contact-child h2{
    margin: 0;
    margin-left: 10px;
}
.input{
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #1b1b1b;
    width: 300px;
}
.project-main{
    display: flex;
    height: 600px;
    position: relative;
    justify-content: center;
    margin: 0 5%;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:#0E0E0E; 
}
.progress{
    background: linear-gradient(90deg, cyan, rgb(248, 12, 51));
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  background-clip: text; 
  color: transparent;  
  font-size: 50px;
}
.git-icons{
    display: flex;
    gap: 20px;
}
.img-git{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(135deg, rgb(255, 60, 0), rgb(247, 161, 3));
    transition: all 0.3s ease-in-out;
}

.img-git:hover {
    transform: translateY(-4px) scale(1.0);
    box-shadow: 0 6px 20px rgba(255, 140, 0, 0.6);
    background: linear-gradient(135deg,rgb(255, 217, 0), rgb(255, 60, 0));
    border: 1px solid white;
}


